.invest {
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
}
.caption {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    padding-left: 210px;
    max-width: 687px;
}
.caption__description{
    font-size: 16px;
    color: #0536FC;
}
.caption__tiile {
    font-size: 38px;
    font-weight: bold;
}
.caption__text {
    font-size: 16px;
    font-weight: bold;

}
.invest_form {
    display: flex;
    flex-direction: column;
    max-width: 753px;
    align-items: flex-end;
    justify-content: space-evenly;
    min-height: 1000px;

}
.choise__button{
    border: none;
    background: transparent;
    font-size: 16px;
    border: 1px solid #00000026;
    height: 50px;
    width: 150px; 
    padding: 0px;
}
.choise__button:active {
    background: #0536FC;
    border: 1px solid #0536FC;
}
.choise__custom {
    display: flex;
    flex-direction: column;
    border: none;
    background: transparent;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    border: 1px solid #00000026;
    height: 50px;
    width: 100%;
}
.choise {
    gap: 0px;
    padding: 0px;
}
.amount__capture{
    text-transform: uppercase;
}
.contact {
    display: flex;
    flex-direction: column;
}
.contact__label {
    text-transform: uppercase;
}
.contact__input{
    border: none;
    background: transparent;
    font-size: 16px;
    border-bottom: 1px solid #00000026;
    width: 75%;
}
.send {
    text-transform: uppercase;
    border: none;
    background: #0536FC;
    font-weight: lighter;
    font-size: 16px;
    color: #FFFFFF;
    height: 50px;
    width: 150px; 
    margin-top: 50px;
}

.agreements {
    display: flex;
    flex-direction: column;
}
.label_nolink {
    text-decoration: none;
    color: #0536FC;
    padding: 5px;
}
.way {
    display: flex;
    padding-bottom: 50px;
    
}
.way__input {
    margin-right: 15px;
}
.way__label {
    margin-right: 30px;
}
.amount {
    padding-bottom: 20px;
}
.period {
    display: flex;
    padding-bottom: 50px;
}
.period__input {
    margin-right: 15px;
}
.period__label {
    margin-right: 30px;
}
.contact__label {
    padding-bottom: 20px;
}
.contact__input {
    margin-bottom: 36px;
}
.agreements__input {
    margin-bottom: 16px;
    margin-right: 10px;
}
@media all and (max-width: 780px) {
    .caption {
        padding-left: 10px;
    }
    .way {
        display:flex;
        flex-direction: column;
    }
    .period {
        display: flex;
        flex-direction: column;
    }
}
@media all and (max-width: 320px) {
    .invest {
        display: grid;
        grid-template-columns: 1fr;
    }
    .caption {
        padding-left: 10px;
    }
    .way {
        display:flex;
        flex-direction: column;
    }
    .period {
        display: flex;
        flex-direction: column;
    }
}